@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

$font: "Lato", sans-serif;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}
