.screen {
  text-align: right;
  width: 95%;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 36px;
  font-weight: 700;
  border: 2px solid rgb(10, 131, 125);
  color: rgb(0, 55, 80);
  background-color: #fefefe;
}
